@{
    ViewBag.Title = "About us";
}
<br />
<h3 class="pinkheader">@ViewBag.Title</h3>
<br />
<h4>@ViewBag.Message</h4>

<p>City Garage is located in central Stockholm. It is a pay and park facility open for public. We have infinite parking space. 
   Minimum parking time is 1 hr and vehicles can be parked with no time limit. Cost of parking is 60 SEK per hour.</p>
