@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Pink Garage is located in central Stockholm. It is a pay and park facility open for public. We have infinite parking space. 
   Minimum parking time is 1 hr and vehicles can be parked with no time limit. Cost of parking is 60 SEK per hour.</p>
