@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1, BusinessComplex<br />
    Stockholm, Sweden<br />
    <abbr title="Phone">P:</abbr>
    070-458778
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@pinkgarage.com">Support@pinkgarage.com</a><br />
</address>