@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">
    
    <h3 class="pinkheader">Welcome to City Garage</h3>
    <br />
    <br />
    <img class="img-responsive" src="~/Image/parking-garage.jpg" />

   
</div>