body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    background-color: lightgray;

}

.content-wrapper, img.img-responsive {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* For validation summary*/
.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    display: none;
}

.navbar {
    background-color: black;
}

.navbar-nav li a:visited {
    color: lightgray;
}

.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:visited {
    color: lightgray;
}

img {
    border: 1px solid;
}

#SearchString {
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
}

#regnum {
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
}

.form-control {
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
    color: black;
}

.btn {
    border: inset;
    border-color: darkgray;
    background-color: lightgrey;
    color: black;
}

.container input {
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
    color: black;
}

a {
    color: black;
}

.btn {
    border-color: darkgray;
    background-color: lightgrey;
    border: inset;
    color: black;
}

.container input {
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
    color: black;
}

a {
    color: black;
}

.pinkheader {
    font-style: italic;
}

a:hover {
    color: purple;
}

.IndexSearch p {
    display: inline;
}

.searchlist {
    float: right;
    text-align: right;
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
    padding: 2px 4px 2px 4px;
}



.searchlistbutton {
    border: outset;
    border-color: darkgray;
    background-color: lightgrey;
    padding: 2px 4px 2px 4px;
    margin-left: 4px;
}

.create{
    float: right;
    display: inline-block;
}

.create img{
    width:80px
}

.createregister{
    float: right;
    display: inline-block;
}

.createregister img{
    width:110px;
   margin:auto;
}

.create p{
    text-align:center;
}

input[type="text"] {
    background-color: lightgrey;
}

footer {
    color: dimgray;
    font-size: .9em;
    font-style: italic;
    text-align: center;
}

hr {
    color: red;
}
