body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* For validation summary*/
.validation-summary-valid {
    display:none;
}
.validation-summary-errors{
     display:none;
}
.navbar{
     background-color:black;
}

.navbar-nav li a:visited{
    color:palevioletred;
}

body{
    background-color:palevioletred;
}

.navbar-header a.navbar-brand, 
.navbar-header a.navbar-brand:visited
 {
     color:palevioletred;
}
img{
    border: 1px solid;
}

#SearchString{
    border:outset;
    border-color:thistle;
    background-color:palevioletred;
}

#regnum{
 border:outset;
    border-color:thistle;
    background-color:palevioletred;
}

.form-control{
    border:outset;
    border-color:thistle;
    background-color:palevioletred;
    color:black;
}

.btn{
      background-color:palevioletred;
      border:inset;
      border-color:purple;
      color:black;
}

.container input{
    border:outset;
    border-color:thistle;
    background-color:palevioletred;
    color:black;
}

a{
     color:black;
}

a:hover{
    color:purple;
}

.IndexSearch {
 text-align:right;
  }