body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: palevioletred;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    border: 3px solid #8C485E;
    background-color: #FAECF1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* For validation summary*/
.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    display: none;
}

.navbar {
    background-color: black;
}

.navbar-nav li a:visited {
    color: palevioletred;
}

.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:visited {
    color: palevioletred;
}

img {
    border: 1px solid;
}

#SearchString {
    border: outset;
    border-color: thistle;
    background-color: #FDF7F9;
}

#regnum {
    border: outset;
    border-color: thistle;
    background-color: #FDF7F9;
}

.form-control {
    border: outset;
    border-color: thistle;
    background-color: #FDF7F9;
    color: black;
}

.btn {
    background-color: #FDF7F9;
    border: inset;
    border-color: purple;
    color: black;
}

.container input {
    border: outset;
    border-color: thistle;
    background-color: #FDF7F9;
    color: black;
}

a {
    color: black;
}
.pinkheader{
    font-style:italic;
    color: palevioletred;
    font-weight:bold;
    text-shadow:1px 2px 2px black;

}

    a:hover {
        color: purple;
    }

.IndexSearch p {
    display: inline;
}

.searchlist {
    float: right;
    text-align: right;
        border: outset;
    border-color: thistle;
    background-color: #FDF7F9;
padding:2px 4px 2px 4px;
}
.searchlistbutton {
        border: outset;
    border-color: thistle;
    background-color: #FDF7F9;
padding:2px 4px 2px 4px;
margin-left:4px;
}
input[type="text"] {
    background-color: #FDF7F9;
}

footer{
    color:dimgray;
    font-size:.9em;
    font-style:italic;
    text-align:center;
}
hr{
    color: red;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {

  border-top: 1px solid palevioletred;
}
